src/main/resources/xml/canon.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified"
           xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="markup" type="markupType"/>

    <xs:complexType name="cameraType" mixed="true">
        <xs:sequence>
            <xs:element name="overlay" type="imageType" maxOccurs="unbounded" minOccurs="0"/>
        </xs:sequence>
        <xs:attribute name="name" type="name" use="required"/>
        <xs:attribute type="xs:string" name="id"/>
        <xs:attribute type="xs:string" name="class"/>
        <xs:attribute type="xs:boolean" name="required" default="false"/>
        <xs:attribute type="xs:decimal" name="maxCompressSize" default="0" />
    </xs:complexType>

    <xs:complexType name="codeReaderType" mixed="true">
        <xs:attribute name="name" type="name" use="required"/>
        <xs:attribute name="format" use="required">
            <xs:simpleType>
                <xs:restriction base="xs:string">
                    <xs:enumeration value="qr"/>
                    <xs:enumeration value="bar"/>
                </xs:restriction>
            </xs:simpleType>
        </xs:attribute>
        <xs:attribute type="xs:string" name="id"/>
        <xs:attribute type="xs:string" name="class"/>
    </xs:complexType>

    <xs:complexType name="itemsType" mixed="true">
        <xs:sequence>
            <xs:element name="item" type="itemType" maxOccurs="unbounded" minOccurs="1"/>
        </xs:sequence>
        <xs:attribute type="bool" name="ordered" default="false"/>
        <xs:attribute type="xs:string" name="id"/>
        <xs:attribute type="xs:string" name="class"/>
    </xs:complexType>

    <xs:complexType name="itemType" mixed="true">
        <xs:choice minOccurs="0">
            <xs:element type="itemsType" name="items"/>
            <xs:element type="videoType" name="video"/>
            <xs:element type="headlineType" name="headline"/>
            <xs:element type="labelType" name="label"/>
            <xs:element type="imageType" name="image"/>
            <xs:element type="linkType" name="link"/>
            <xs:element type="boldType" name="bold"/>
            <xs:element type="italicType" name="italic"/>
            <xs:element type="blockType" name="block"/>
            <xs:element type="slotMachineType" name="slotmachine"/>
            <xs:element type="buttonType" name="button"/>
            <xs:element type="sliderType" name="slider"/>
            <xs:element type="mapType" name="map"/>
            <xs:element type="formType" name="form"/>
            <xs:element type="textType" name="text"/>
            <xs:element type="textareaType" name="textarea"/>
            <xs:element type="choiceType" name="choice"/>
            <xs:element type="emailType" name="email" />
        </xs:choice>
        <xs:attribute type="xs:string" name="foreach"/>
        <xs:attribute type="xs:string" name="if"/>
        <xs:attribute type="xs:string" name="id"/>
        <xs:attribute type="xs:string" name="class"/>
    </xs:complexType>

    <xs:complexType name="tableType" mixed="true">
        <xs:sequence minOccurs="1" maxOccurs="unbounded">
            <xs:element type="rowType" name="row"/>
        </xs:sequence>
        <xs:attribute type="xs:string" name="id"/>
        <xs:attribute type="xs:string" name="class"/>
    </xs:complexType>

    <xs:complexType name="rowType" mixed="true">
        <xs:sequence minOccurs="1" maxOccurs="unbounded">
            <xs:element type="colType" name="col"/>
        </xs:sequence>
        <xs:attribute name="class"/>
    </xs:complexType>

    <xs:complexType name="colType" mixed="true">
        <xs:choice maxOccurs="unbounded" minOccurs="0">
            <xs:element type="videoType" name="video"/>
            <xs:element type="headlineType" name="headline"/>
            <xs:element type="labelType" name="label"/>
            <xs:element type="itemsType" name="items"/>
            <xs:element type="imageType" name="image"/>
            <xs:element type="linkType" name="link"/>
            <xs:element type="boldType" name="bold"/>
            <xs:element type="italicType" name="italic"/>
            <xs:element type="blockType" name="block"/>
            <xs:element type="slotMachineType" name="slotmachine"/>
            <xs:element type="buttonType" name="button"/>
            <xs:element type="sliderType" name="slider"/>
            <xs:element type="mapType" name="map"/>
            <xs:element type="formType" name="form"/>
            <xs:element type="textType" name="text"/>
            <xs:element type="textareaType" name="textarea"/>
            <xs:element type="choiceType" name="choice"/>
        </xs:choice>
        <xs:attribute type="xs:string" name="foreach"/>
        <xs:attribute type="xs:string" name="if"/>
        <xs:attribute type="xs:string" name="id"/>
        <xs:attribute type="xs:string" name="class"/>
    </xs:complexType>

    <xs:complexType name="mapType">
        <xs:attribute type="name" name="name" use="required"/>
        <xs:attribute type="xs:string" name="src"/>
        <xs:attribute type="xs:string" name="markerIcon"/>
        <xs:attribute type="xs:string" name="selectedMarkerIcon"/>
        <xs:attribute type="xs:string" name="routeStartIcon"/>
        <xs:attribute type="xs:string" name="routeEndIcon"/>
        <xs:attribute type="xs:string" name="routePoints"/>
        <xs:attribute name="mapType" use="required">
            <xs:simpleType>
                <xs:restriction base="xs:string">
                    <xs:enumeration value="google"/>
                    <xs:enumeration value="osm"/>
                    <xs:enumeration value="here"/>
                </xs:restriction>
            </xs:simpleType>
        </xs:attribute>
        <xs:attribute type="xs:string" name="centerLat"/>
        <xs:attribute type="xs:string" name="centerLng"/>
        <xs:attribute type="bool" name="centerBrowserLocation"/>
        <xs:attribute type="bool" name="required"/>
        <xs:attribute type="xs:integer" name="maxSelections" default="1"/>
        <xs:attribute type="xs:string" name="zoom" default="8" />
        <xs:attribute type="xs:string" name="id"/>
        <xs:attribute type="xs:string" name="class"/>
    </xs:complexType>

    <xs:complexType name="buttonType" mixed="true">
        <xs:choice minOccurs="0">
            <xs:element type="labelType" name="label"/>
            <xs:element type="itemsType" name="items"/>
            <xs:element type="imageType" name="image"/>
            <xs:element type="boldType" name="bold"/>
            <xs:element type="italicType" name="italic"/>
            <xs:element type="xs:string" name="break"/>
            <xs:element type="viewBlockType" name="block"/>
        </xs:choice>
        <xs:attribute type="xs:string" name="value"/>
        <xs:attribute name="name" type="name"/>
        <xs:attribute type="xs:string" name="id"/>
        <xs:attribute type="xs:string" name="class"/>
    </xs:complexType>

    <xs:complexType name="reelType">
        <xs:sequence maxOccurs="unbounded" minOccurs="1">
            <xs:element type="reelValueType" name="reelValue"/>
        </xs:sequence>
        <xs:attribute type="xs:string" name="id"/>
        <xs:attribute type="xs:string" name="class"/>
        <xs:attribute name="name" type="name" use="required"/>
    </xs:complexType>

    <xs:complexType name="reelValueType">
        <xs:attribute type="xs:string" name="valueType"/>
        <xs:attribute type="xs:string" name="value"/>
        <xs:attribute type="xs:string" name="id"/>
        <xs:attribute type="xs:string" name="class"/>
    </xs:complexType>

    <xs:complexType name="slotMachineType">
        <xs:sequence maxOccurs="unbounded" minOccurs="0">
            <xs:element type="reelType" name="reel"/>
        </xs:sequence>
        <xs:attribute type="xs:string" name="id"/>
        <xs:attribute type="xs:string" name="class"/>
    </xs:complexType>

    <xs:complexType name="overlaysType">
        <xs:sequence maxOccurs="unbounded" minOccurs="1">
            <xs:element type="overlayType" name="overlay"/>
        </xs:sequence>
        <xs:attribute type="xs:string" name="id"/>
        <xs:attribute type="xs:string" name="class"/>
        <xs:attribute type="xs:string" name="if"/>
    </xs:complexType>

    <xs:complexType name="overlayType">
        <xs:choice>
            <xs:element type="blockType" name="block"/>
            <xs:element type="formType" name="form"/>
        </xs:choice>
        <xs:attribute name="trigger" type="name" use="required"/>
        <xs:attribute type="xs:string" name="id"/>
        <xs:attribute type="xs:string" name="class"/>
    </xs:complexType>

    <xs:complexType name="triggerType">
        <xs:simpleContent>
            <xs:extension base="xs:string">
                <xs:attribute name="name" type="name" use="required"/>
                <xs:attribute type="xs:string" name="id"/>
                <xs:attribute type="xs:string" name="class"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>

    <xs:complexType name="suggestionType">
        <xs:simpleContent>
            <xs:extension base="xs:string">
                <xs:attribute type="xs:string" name="value"/>
                <xs:attribute name="name" type="name"/>
                <xs:attribute type="xs:string" name="id"/>
                <xs:attribute type="xs:string" name="class"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>

    <xs:complexType name="submitType">
        <xs:simpleContent>
            <xs:extension base="xs:string">
                <xs:attribute name="name" type="name"/>
                <xs:attribute type="xs:string" name="id"/>
                <xs:attribute type="xs:string" name="class"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>

    <xs:complexType name="formType">
        <xs:choice maxOccurs="unbounded" minOccurs="1">
            <xs:element type="videoType" name="video"/>
            <xs:element type="triggerType" name="trigger"/>
            <xs:element type="blockType" name="block"/>
            <xs:element type="boldType" name="bold"/>
            <xs:element type="italicType" name="italic"/>
            <xs:element type="xs:string" name="break"/>
            <xs:element type="buttonType" name="button"/>
            <xs:element type="cameraType" name="camera"/>
            <xs:element type="carouselType" name="carousel" />
            <xs:element type="codeReaderType" name="codeReader"/>
            <xs:element type="emailType" name="email" />
            <xs:element type="headlineType" name="headline" />
            <xs:element type="imageType" name="image"/>
            <xs:element type="itemsType" name="items"/>
            <xs:element type="phoneType" name="phone" />
            <xs:element type="submitType" name="submit" minOccurs="1" maxOccurs="1" />
            <xs:element type="labelType" name="label"/>
            <xs:element type="textType" name="text"/>
            <xs:element type="textareaType" name="textarea"/>
            <xs:element type="slotMachineType" name="slotmachine"/>
            <xs:element type="reelType" name="reel"/>
            <xs:element type="linkType" name="link"/>
            <xs:element type="tableType" name="table"/>
            <xs:element type="mapType" name="map"/>
            <xs:element type="sliderType" name="slider"/>
            <xs:element type="spinnerType" name="spinner"/>
            <xs:element type="uploadType" name="upload"/>
            <xs:element type="selectionType" name="selection"/>
            <xs:element type="multipleChoiceType" name="multipleChoice"/>
            <xs:element type="singleChoiceType" name="singleChoice"/>
            <xs:element type="basketType" name="basket"/>
        </xs:choice>
        <xs:attribute name="name" type="name"/>
        <xs:attribute type="xs:string" name="id"/>
        <xs:attribute type="xs:string" name="class"/>
    </xs:complexType>

    <xs:complexType name="textType">
        <xs:attribute name="name" type="name" use="required"/>
        <xs:attribute type="xs:string" name="regex"/>
        <xs:attribute type="xs:string" name="placeholder"/>
        <xs:attribute type="xs:string" name="value"/>
        <xs:attribute type="xs:boolean" name="required"/>
        <xs:attribute type="xs:string" name="id"/>
        <xs:attribute type="xs:string" name="class"/>
    </xs:complexType>

    <xs:complexType name="textareaType">
        <xs:attribute name="name" type="name" use="required"/>
        <xs:attribute type="xs:integer" name="cols"/>
        <xs:attribute type="xs:integer" name="rows"/>
        <xs:attribute type="xs:string" name="placeholder"/>
        <xs:attribute type="xs:string" name="value"/>
        <xs:attribute type="xs:string" name="id"/>
        <xs:attribute type="xs:string" name="class"/>
        <xs:attribute type="xs:boolean" name="required"/>
    </xs:complexType>

    <xs:complexType name="phoneType">
        <xs:attribute name="name" type="name" use="required"/>
        <xs:attribute type="xs:string" name="placeholder"/>
        <xs:attribute type="xs:string" name="value"/>
        <xs:attribute type="xs:boolean" name="required"/>
        <xs:attribute type="xs:string" name="id"/>
        <xs:attribute type="xs:string" name="class"/>
    </xs:complexType>

    <xs:complexType name="emailType">
        <xs:attribute name="name" type="name" use="required"/>
        <xs:attribute type="xs:string" name="placeholder"/>
        <xs:attribute type="xs:string" name="value"/>
        <xs:attribute type="xs:boolean" name="required"/>
        <xs:attribute type="xs:string" name="id"/>
        <xs:attribute type="xs:string" name="class"/>
    </xs:complexType>

    <xs:complexType name="blockType">
        <xs:choice maxOccurs="unbounded" minOccurs="0">
            <xs:element type="videoType" name="video"/>
            <xs:element type="triggerType" name="trigger"/>
            <xs:element type="headlineType" name="headline"/>
            <xs:element type="labelType" name="label"/>
            <xs:element type="itemsType" name="items"/>
            <xs:element type="textType" name="text"/>
            <xs:element type="textareaType" name="textarea"/>
            <xs:element type="slotMachineType" name="slotmachine"/>
            <xs:element type="imageType" name="image"/>
            <xs:element type="linkType" name="link"/>
            <xs:element type="boldType" name="bold"/>
            <xs:element type="italicType" name="italic"/>
            <xs:element type="tableType" name="table"/>
            <xs:element type="mapType" name="map"/>
            <xs:element type="submitType" name="submit"/>
            <xs:element type="xs:string" name="break"/>
            <xs:element type="buttonType" name="button"/>
            <xs:element type="sliderType" name="slider"/>
            <xs:element type="spinnerType" name="spinner"/>
            <xs:element type="uploadType" name="upload"/>
            <xs:element type="selectionType" name="selection"/>
            <xs:element type="cameraType" name="camera"/>
            <xs:element type="codeReaderType" name="codeReader"/>
            <xs:element type="multipleChoiceType" name="multipleChoice"/>
            <xs:element type="singleChoiceType" name="singleChoice"/>
            <xs:element type="blockType" name="block"/>
            <xs:element type="suggestionType" name="suggestion" />
            <xs:element type="emailType" name="email" />
            <xs:element type="phoneType" name="phone" />
            <xs:element type="basketType" name="basket" />
        </xs:choice>
        <xs:attribute type="xs:string" name="id"/>
        <xs:attribute type="xs:string" name="class"/>
        <xs:attribute type="xs:string" name="foreach"/>
        <xs:attribute type="xs:string" name="if"/>
    </xs:complexType>

    <xs:complexType name="viewBlockType">
        <xs:choice maxOccurs="unbounded" minOccurs="0">
            <xs:element type="labelType" name="label"/>
            <xs:element type="imageType" name="image"/>
            <xs:element type="boldType" name="bold"/>
            <xs:element type="italicType" name="italic"/>
            <xs:element type="xs:string" name="break"/>
            <xs:element type="viewBlockType" name="block"/>
        </xs:choice>
        <xs:attribute type="xs:string" name="id"/>
        <xs:attribute type="xs:string" name="class"/>
        <xs:attribute type="xs:string" name="foreach"/>
        <xs:attribute type="xs:string" name="if"/>
    </xs:complexType>

    <xs:complexType name="basketType">
        <xs:choice maxOccurs="unbounded" minOccurs="0">
            <xs:element type="videoType" name="video"/>
            <xs:element type="triggerType" name="trigger"/>
            <xs:element type="headlineType" name="headline"/>
            <xs:element type="labelType" name="label"/>
            <xs:element type="itemsType" name="items"/>
            <xs:element type="textType" name="text"/>
            <xs:element type="textareaType" name="textarea"/>
            <xs:element type="slotMachineType" name="slotmachine"/>
            <xs:element type="imageType" name="image"/>
            <xs:element type="linkType" name="link"/>
            <xs:element type="boldType" name="bold"/>
            <xs:element type="italicType" name="italic"/>
            <xs:element type="tableType" name="table"/>
            <xs:element type="mapType" name="map"/>
            <xs:element type="submitType" name="submit"/>
            <xs:element type="xs:string" name="break"/>
            <xs:element type="buttonType" name="button"/>
            <xs:element type="sliderType" name="slider"/>
            <xs:element type="spinnerType" name="spinner"/>
            <xs:element type="uploadType" name="upload"/>
            <xs:element type="selectionType" name="selection"/>
            <xs:element type="cameraType" name="camera"/>
            <xs:element type="codeReaderType" name="codeReader"/>
            <xs:element type="multipleChoiceType" name="multipleChoice"/>
            <xs:element type="singleChoiceType" name="singleChoice"/>
            <xs:element type="blockType" name="block"/>
            <xs:element type="suggestionType" name="suggestion" />
            <xs:element type="emailType" name="email" />
            <xs:element type="phoneType" name="phone" />
        </xs:choice>
        <xs:attribute type="xs:string" name="id"/>
        <xs:attribute type="xs:string" name="class"/>
        <xs:attribute type="xs:string" name="foreach"/>
        <xs:attribute type="xs:string" name="if"/>
        <xs:attribute type="name" name="name"/>
        <xs:attribute name="required" type="bool" default="false"/>
    </xs:complexType>

    <xs:complexType name="selectionType">
        <xs:choice maxOccurs="unbounded" minOccurs="0">
            <xs:element type="selectionBlockType" name="block"/>
        </xs:choice>
        <xs:attribute name="name" type="name"/>
        <xs:attribute type="xs:integer" name="countdownInSec"/>
        <xs:attribute type="xs:string" name="id"/>
        <xs:attribute type="xs:string" name="class"/>
    </xs:complexType>

    <xs:complexType name="selectionBlockType">
        <xs:choice maxOccurs="unbounded" minOccurs="0">
            <xs:element type="headlineType" name="headline"/>
            <xs:element type="labelType" name="label"/>
            <xs:element type="itemsType" name="items"/>
            <xs:element type="imageType" name="image"/>
            <xs:element type="boldType" name="bold"/>
            <xs:element type="italicType" name="italic"/>
            <xs:element type="xs:string" name="break"/>
            <xs:element type="selectionBlockType" name="block"/>
        </xs:choice>
        <xs:attribute name="name" type="name" use="required"/>
        <xs:attribute type="xs:string" name="id"/>
        <xs:attribute type="xs:string" name="class"/>
        <xs:attribute type="xs:string" name="foreach"/>
        <xs:attribute type="xs:string" name="if"/>
    </xs:complexType>

    <xs:complexType name="linkType">
        <xs:simpleContent>
            <xs:extension base="xs:string">
                <xs:attribute type="xs:string" name="value"/>
                <xs:attribute type="xs:string" name="if"/>
                <xs:attribute type="xs:string" name="id"/>
                <xs:attribute type="xs:string" name="class"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>

    <xs:complexType name="labelType">
        <xs:simpleContent>
            <xs:extension base="xs:string">
                <xs:attribute type="xs:string" name="id"/>
                <xs:attribute type="xs:string" name="class"/>
                <xs:attribute type="xs:string" name="if"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>

    <xs:complexType name="boldType">
        <xs:simpleContent>
            <xs:extension base="xs:string">
                <xs:attribute type="xs:string" name="id"/>
                <xs:attribute type="xs:string" name="class"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>

    <xs:complexType name="italicType">
        <xs:simpleContent>
            <xs:extension base="xs:string">
                <xs:attribute type="xs:string" name="id"/>
                <xs:attribute type="xs:string" name="class"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>

    <xs:complexType name="headlineType">
        <xs:simpleContent>
            <xs:extension base="xs:string">
                <xs:attribute type="xs:string" name="id"/>
                <xs:attribute type="xs:string" name="class"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>

    <xs:complexType name="videoType">
        <xs:simpleContent>
            <xs:extension base="xs:string">
                <xs:attribute type="xs:string" name="src" use="required"/>
                <xs:attribute type="xs:string" name="id"/>
                <xs:attribute type="xs:string" name="class"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>

    <xs:complexType name="imageType">
        <xs:simpleContent>
            <xs:extension base="xs:string">
                <xs:attribute type="xs:string" name="src"/>
                <xs:attribute type="xs:string" name="width"/>
                <xs:attribute type="xs:string" name="height"/>
                <xs:attribute type="xs:string" name="alt"/>
                <xs:attribute type="xs:string" name="id"/>
                <xs:attribute type="xs:string" name="class"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>

    <xs:complexType name="uploadType">
        <xs:simpleContent>
            <xs:extension base="xs:string">
                <xs:attribute type="xs:decimal" name="maxSize"/>
                <xs:attribute type="xs:string" name="accept"/>
                <xs:attribute name="name" type="name" use="required"/>
                <xs:attribute type="xs:string" name="id"/>
                <xs:attribute type="xs:string" name="class"/>
                <xs:attribute type="xs:decimal" name="maxCompressSize" default="0"/>
                <xs:attribute type="xs:boolean" name="required" default="false"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>

    <xs:complexType name="sliderType">
        <xs:attribute type="xs:decimal" name="value"/>
        <xs:attribute type="xs:decimal" name="step"/>
        <xs:attribute type="xs:decimal" name="max"/>
        <xs:attribute type="xs:decimal" name="min"/>
        <xs:attribute type="xs:string" name="id"/>
        <xs:attribute type="xs:string" name="class"/>
        <xs:attribute type="xs:string" name="values"/>
        <xs:attribute name="name" type="name" use="required"/>
    </xs:complexType>

    <xs:complexType name="spinnerType">
        <xs:attribute type="xs:decimal" name="value"/>
        <xs:attribute type="xs:decimal" name="step"/>
        <xs:attribute type="xs:decimal" name="max"/>
        <xs:attribute type="xs:decimal" name="min"/>
        <xs:attribute type="xs:string" name="id"/>
        <xs:attribute type="xs:string" name="class"/>
        <xs:attribute name="name" type="name" use="required"/>
    </xs:complexType>

    <xs:complexType name="carouselType">
        <xs:sequence maxOccurs="unbounded">
            <xs:element type="blockType" name="block"/>
        </xs:sequence>
        <xs:attribute type="xs:string" name="id"/>
        <xs:attribute type="xs:string" name="class"/>
    </xs:complexType>

    <xs:complexType name="singleChoiceType">
        <xs:choice minOccurs="0" maxOccurs="unbounded">
            <xs:element name="choice" type="choiceType" minOccurs="1" maxOccurs="unbounded"/>
        </xs:choice>
        <xs:attribute name="name" type="name" use="required"/>
        <xs:attribute name="sieve" type="bool" default="true"/>
        <xs:attribute name="required" type="bool" default="false"/>
        <xs:attribute name="class" type="xs:string"/>
        <xs:attribute type="xs:string" name="id"/>
    </xs:complexType>

    <xs:complexType name="multipleChoiceType">
        <xs:choice minOccurs="0" maxOccurs="unbounded">
            <xs:element name="choice" type="choiceType" minOccurs="1" maxOccurs="unbounded"/>
            <xs:element name="table" type="tableType" minOccurs="0" maxOccurs="1"/>
        </xs:choice>
        <xs:attribute name="name" type="name" use="required"/>
        <xs:attribute name="sieve" type="bool" default="true"/>
        <xs:attribute name="required" type="bool" default="false"/>
        <xs:attribute name="class" type="xs:string"/>
    </xs:complexType>

    <xs:complexType name="choiceType">
        <xs:simpleContent>
            <xs:extension base="xs:string">
                <xs:attribute name="selected" type="xs:string" default="false"/>
                <xs:attribute name="name" type="name" use="required"/>
                <xs:attribute name="class" type="xs:string"/>
                <xs:attribute type="xs:string" name="foreach"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>

    <xs:complexType name="markupType" mixed="true">
        <xs:choice maxOccurs="unbounded" minOccurs="0">
            <xs:element type="containerType" name="container"/>
        </xs:choice>
    </xs:complexType>

    <xs:complexType name="containerType" mixed="true">
        <xs:choice maxOccurs="unbounded" minOccurs="0">
            <xs:element type="labelType" name="label"/>
            <xs:element type="buttonType" name="button"/>
            <xs:element type="carouselType" name="carousel"/>
            <xs:element type="imageType" name="image"/>
            <xs:element type="linkType" name="link"/>
            <xs:element type="headlineType" name="headline"/>
            <xs:element type="videoType" name="video"/>
            <xs:element type="blockType" name="block"/>
            <xs:element type="boldType" name="bold"/>
            <xs:element type="italicType" name="italic"/>
            <xs:element type="itemsType" name="items"/>
            <xs:element type="tableType" name="table"/>
            <xs:element type="suggestionType" name="suggestion"/>
            <xs:element type="formType" name="form"/>
            <xs:element type="transitionType" name="transition" />
            <xs:element type="overlaysType" name="overlays" />
            <xs:element type="xs:string" name="comment" minOccurs="0" maxOccurs="unbounded"/>
        </xs:choice>
    </xs:complexType>

    <!-- custom attribute types -->
    <xs:simpleType name="bool">
        <!-- xs:bool accepts {true|false} and {0|1}, this one only {true|false}-->
        <xs:restriction base="xs:string">
            <xs:enumeration value="true"/>
            <xs:enumeration value="false"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="name">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="50"/>
            <xs:pattern value="([a-zA-Z_0-9]*|\{\{[a-zA-Z_0-9.$(),' ]*\}\})*"/>
        </xs:restriction>
    </xs:simpleType>
    <!-- RevealJs wrapper type -->
    <xs:complexType name="transitionType" mixed="true">
        <xs:choice maxOccurs="unbounded" minOccurs="0">
            <xs:element type="formType" name="form" />
            <xs:element type="blockType" name="block"/>
            <xs:element type="headlineType" name="headline"/>
            <xs:element type="labelType" name="label"/>
            <xs:element type="itemsType" name="items"/>
            <xs:element type="textType" name="text"/>
            <xs:element type="textareaType" name="textarea"/>
            <xs:element type="slotMachineType" name="slotmachine"/>
            <xs:element type="reelType" name="reel"/>
            <xs:element type="imageType" name="image"/>
            <xs:element type="linkType" name="link"/>
            <xs:element type="boldType" name="bold"/>
            <xs:element type="italicType" name="italic"/>
            <xs:element type="tableType" name="table"/>
            <xs:element type="mapType" name="map"/>
            <xs:element type="submitType" name="submit"/>
            <xs:element type="xs:string" name="break"/>
            <xs:element type="buttonType" name="button"/>
            <xs:element type="sliderType" name="slider"/>
            <xs:element type="spinnerType" name="spinner"/>
            <xs:element type="uploadType" name="upload"/>
            <xs:element type="selectionType" name="selection"/>
            <xs:element type="cameraType" name="camera"/>
            <xs:element type="codeReaderType" name="codeReader"/>
            <xs:element type="multipleChoiceType" name="multipleChoice"/>
            <xs:element type="singleChoiceType" name="singleChoice"/>
            <xs:element type="emailType" name="email" />
            <xs:element type="phoneType" name="phone" />
            <xs:element type="carouselType" name="carousel" />
            <xs:element type="suggestionType" name="suggestion" />
        </xs:choice>
        <xs:attribute name="direction" default="down"/>
        <xs:attribute name="wrapped" default="out" />
    </xs:complexType>

</xs:schema>
